
<script src="//code.jquery.com/jquery-latest.js"></script>

<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
<script src="assets/scripts/plugins/fullpage.js/vendors/jquery.easings.min.js"></script>


<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true` -->
<script type="text/javascript" src="assets/scripts/plugins/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="assets/scripts/plugins/slimbox/js/slimbox2.js"></script>
<script type="text/javascript" src="assets/scripts/plugins/fullpage.js/jquery.fullPage.js"></script>
<script type="text/javascript" src="assets/scripts/plugins/bootstrap/bootstrap/alert.js"></script>


