<script src="https://use.typekit.net/ojg0bdc.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="assets/scripts/plugins/slimbox/css/slimbox2.css">
<link rel="stylesheet" type="text/css" href="{{ "assets/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="assets/scripts/plugins/fullpage.js/jquery.fullPage.css" />





