<section class="row">
	<div class="col-sm-12">
		<div class="container">
			<h2>About</h2>
			<div class="col-sm-4">
				<div class="containerIMG">
					<img src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/10846454_10152910655518637_2403486251626325843_n.jpg?oh=13c4ae48b56407a882d7eafeba368288&oe=56DDD908">
				</div>
			</div>
			<div class="col-sm-8">
				<p>
					Amanda Iaria has been working on web projects for over ten years. She first started in high school making fan sites in 2000. Since then she has grown from her experiences and has gained knowledge beyond that of a hobbyist.
				</p>
				<p>
					In 2010, she went back to college to get her Bachelor's Degree in Web Development from Champlain College, then graduated in 2013. A few months after she started working for HMC Advertising.
				</p>
				<p>
					Her senior thesis was an online Data-based RPG Character Sheet that used her own CMS. The project allowed the user to create their own saveable Pathfinder&trade; character which could be edited and shared with others. It aspired to be more user friendly than other similar RPG Character Sheets that were in use. For now the project is offline, but she hopes in the future to revitalize it.
				</p>
				<p>
					While working at HMC some of her first projects included 802Quits, OnCall for Vermont, and My Healthy VT. These ranged from full sites, to plugins and landing pages. Each had their own challenges to overcome. One such challenge was in the site called Parent Up. This site in particular had a huge amount of information which needed to be organized in such a manner as to not overwhelm the user.
				</p>
				<p>
					Amanda specializes as a Full Stack Developer, as she works with PHP, mySQL, and HTML.  However, that doesn't mean she won't try learning new things. She has a rough familiarity in Ruby, and C#, and she's now learning Game Engines like Unity with C# and RPG Maker with Ruby.
				</p>
				<p>
					Other than working, Amanda enjoys movies, video games, reading and drawing.
				</p>
			</div>
		</div>
	</div>
</section>