<section class="row">
	<div class="col-sm-12">
		<div class="container">
			<h2 class="heading">Who Is Amanda</h2>
			<div class="row">
				<div class="col-sm-4">
					<div class="container-img">
						<img src="assets/img/amanda2016.png">
					</div>
				</div>
				<div class="col-sm-8">
					<p>
						Amanda develops engaging websites dedicated to expanding brand awareness and fascinating targeted audiences. They are experienced in creating static websites, WordPress themes, and working in large codebases. They can identify and resolve issues with persistence and dedication and is an exceptional communicator excited about learning software while collaborating with others. They can be resourceful, reliable, and professional. Amanda is known for their strong work ethic and working well in the fast-paced environment.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="resume-quote">
						<div class="col-sm-2">
							<div class="resume-quote-line"></div>
						</div>
						<div class="col-sm-8">
							<div class="resume-quote-copy">
								<p class="lead">
									Design Cutting-Edge Websites to Assist Clients in Meeting Goals
								</p>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="resume-quote-line"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div>
						<span class="lead">Languages</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
								HTML
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
								SASS/CSS
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
								PHP
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
								Javascript/jQuery
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								C#
							</div>
						</div><div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								JSON/XML
							</div>
						</div>
					</div>
					<div>
						<span class="lead">Platforms</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								Unity
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
								MeteorJS
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
								React
							</div>
						</div>
					</div>
					<div>
						<span class="lead">Databases</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
								mySQL
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
								MongoDB
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
