<section class="row">
    <div class="col-sm-12">
        <div class="container">
            <header>
                <h2>About</h2>
            </header>
            <div class="col-sm-4">
                <img src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/10846454_10152910655518637_2403486251626325843_n.jpg?oh=13c4ae48b56407a882d7eafeba368288&oe=56DDD908">
            </div>
            <div class="col-sm-8">
                <p>
                Amanda Iaria has been working on web projects for over ten years. She first started in high school making fan sites in 2000. Since then she has grown her experiences and knowlegde beyond that of a hobbyist.
                </p>
                <p>
                    In 2010 she went back to college to get her Bachelors in Web Development from Champlain College, and graduated in 2013. Since then she has been working for HMC Advertising doing all sorts of projects. </p>

                    <p>
                    Her senior thesis was was an online Databased RPG CHaracter Sheet, that used her own CMS. The project allowed you to create your own saveable Pathfinder&trade; character, that could be edited and shared with others. In essense it was something akin to <a href="https://www.obsidianportal.com" target="_blank">Obsidian Portal</a>, but with a better UI. For now the project is offline, but she hopes in the future to revitalize it.
                </p>
                <p>
                Some of her first projects at HMC included 802quits, OnCall, and My Healthy VT. These ranged from full sites, to plugins, to landing pages. Each had their own challenges to overcome; for instance, Parent Up. That site had a huge amount of information that had to be orginazed in such a manner to not over whelm the user.
                </p>
                <p>
                    Amanda specializes as a Full Stack Developer&mdash;as she works with PHP, mySQL, and HTML&mdash;however, that doesn't mean she won't try learning new things. She has a rough familiarity in Ruby, and C#. Now she's learning Game Engines like Unity with C# and RPG Maker with Ruby.
                    </p>
                    <p>
                    Other than working Amanda enjoys movies, video games, reading and drawing.
                    </p>
            </div>
        </div>
    </div>
</section>