<section class="row contact">
	<div class="col-sm-12">
		<div class="container">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<header>
					<h2>Contact Me</h2>
				</header>
				<form>
					<div class="input-group">

						  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">

						  <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">

						  <input type="text" class="form-control" placeholder="Subject" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">

						  <input type="text" class="form-control" placeholder="Message" aria-describedby="basic-addon1">
					</div>
					<button type="button" class="btn btn-default btn-lg">
						Send
					</button>
				</form>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</section>