<section class="row contact">
	<div class="col-sm-12">
		<div class="container">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<header>
					<h2>Contact Me</h2>
				</header>

				<script src='https://www.google.com/recaptcha/api.js'></script>
				<form id="contact-form" class="contact-form" method="post" action="https://pacific-mountain-4640.herokuapp.com/contact.php">
					<div class="input-group">
						<input id="name" type="text" name="name" class="form-contral" required placeholder="Name"/>
					</div>

					<div class="input-group">
						<input id="email" type="email" name="email" class="form-contral" required placeholder="Email" />
					</div>

					<div class="input-group">
						<input id="subject" type="text" name="subject" class="form-contral" required placeholder="Subject" />
					</div>

					<div class="input-group">
						<input id="message" name="message" required placeholder="Message" type="text" class="form-contral" />
					</div>
					<div class="g-recaptcha" data-sitekey="6LcTVRQTAAAAAFj0BnT5uAZOD83jFzH6URbbZ87L"></div>
					<button type="submit" class="btn btn-default btn-lg">Send</button>

				</form>

			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>

</section>