<section id="dealer">
	<div class="sliderBG">
		<ul>
			<li><img src="assets/img/dealer/1.png"></li>
			<li><img src="assets/img/dealer/2.png"></li>
			<li><img src="assets/img/dealer/3.png"></li>
			<li><img src="assets/img/dealer/4.png"></li>
		</ul>
	</div>
	<div class="col-sm-12">
		<div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<h2>My Time At Dealer</h2>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8"></div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
</section>