<section id="dealer">
	<div class="col-sm-12">
		<div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<h2>My Time At Dealer</h2>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<p>
						From 2016 to 2017 I worked on the dedicated scrum team for Subaru of America in Professional Services Engineering. We were tasked with inovating SOA dealer sites with their branding, while keeping it within the Dealer.com's platform. Projects ranged from the small, to continuous work that would span quarters. We strived to collaborate with the SOA teams to bring the latest from Subaru and from Dealer.com's technology breakthroughs. I learned a lot while I was there, from the principles of Agile, to more in depth software development.
					</p>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
</section>
