<div id="errorDiv" class="alert alert-danger alert-dismissible hide" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-exclamation-circle"></i>
            <span class="sr-only">Error:</span>
                Enter a valid email address
        </div>

        <div id="recaptaDiv" class="alert alert-danger alert-dismissible hide" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-exclamation-circle"></i>
            <span class="sr-only">Error:</span>
                There was an error with the Recaptcha
        </div>

        <div id="sendgridDiv" class="alert alert-danger alert-dismissible hide" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-exclamation-circle"></i>
            <span class="sr-only">Error:</span>
                There was an error with the Sending the message
        </div>

        <div id="sentDiv" class="alert alert-success alert-dismissible hide" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-check" aria-hidden="true"></i>
            <span class="sr-only">Sent:</span>
                Message Sent!
        </div>