<div class="port row">
<div class="col-lg-12">
    <div class="container">


            <header class="title">
                <h2>Projects</h2>
                <p>
                    I've worked on a vast amount of projects. Randging from full sites, to plugins, to new layouts. Some project I have worked by myself, while others have been with a small team and a dedicated designer.
                </p>
                <p>
                Here are a few projects I have worked on in the past couple of years. These are just a few that challenged me to find new solutions to complicated issues.
                </p>
            </header>
            <div class="row">
                <div class="grid">

                            {{ content }}

                    </div>
            </div>



</div>
    </div>
</div>


