<div class="row">
	<div class="col-lg-12">
		<div class="container">
			<h2>Projects</h2>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<p>
						I’ve worked on a wide variety of projects, ranging from full sites to landing pages, new layouts to plugins.  Some I have worked on alone, while others are a collaboration involving not only myself but a small team with a dedicated designer.
					</p>
					<p>
						Here are just some of the products I have worked on in the past couple of years. These are a select few that challenged me to find new solutions to complicated issues.
					</p>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row">
				<div class="grid">
					{% for post in site.posts %}
						{% if post.category == 'portfolio' %}
						<article  itemscope itemtype="http://schema.org/BlogPosting" class="port-single-container grid-item {{post.category}}">
							 <a href="{{ post.image.feature }}" title="{{ post.content | strip_html }}" rel="lightbox" data-cata="{{ post.category }}">
								<div class="image-container">
									<img src="{{ post.image.feature }}">
									<div class="caption">
										<span>
											{{ post.title }}
											<br>
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</div>
							</a>
						 </article>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
