<section  class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">

                <div>
                    <h2>skills</h2>
                        full stack developer (php javascript mysql)<br>
                        wordpress<br>
                        sass/css<br>
                        jade<br>
                </div>
                <div>
                    <h2>familiar</h2>
                        drupal<br>
                        ruby on rails<br>
                        c#<br>
                        meteor js<br>
                </div>
                <div>
                    <h2>Dev tools</h2>
                        Grunt<br>
                        Compass<br>
                        Composer<br>
                </div>
            </div>
            <div class="col-sm-3">

                <div>
                    <h2>Non Web Dev Fun</h2>
                        Unity with C#<br>
                        RPG Maker<br>
                </div>
                <div>
                    <h2>Loves</h2>
                        Beer<br>
                        Cats<br>
                        Drawing<br>
                        Videogames<br>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</section>