<section  class="row">
	<div class="col-sm-12">
		<div class="container">
			<section class="col-md-4">
				<header>
					<h2>Twitter</h2>
				</header>
				<div class="loading twitter"></div>
				<footer></footer>
			</section>
			 <section class="col-md-4">
				<header>
					<h2>Instagram</h2>
				</header>
				<div class="loading instagram"></div>
				<footer></footer>
			</section>
			<section class="col-md-4">
				<header>
					<h2>Tumblr</h2>
				</header>
				<div class="loading tumblr"></div>
				<footer></footer>
			</section>
		</div>
	</div>
</section>
<script type="text/javascript" src="assets/scripts/social.js"></script>
