<section  class="row">
	<div class="col-sm-12">
		<div class="container">
			<section class="col-md-4">
				<header>
					<h2>Twitter</h2>
				</header>
				<div id="twitter" class="loading"></div>
				<footer></footer>
			</section>
			 <section class="col-md-4">
				<header>
					<h2>Instagram</h2>
				</header>
				<div id="instagram" class="loading"></div>
				<footer></footer>
			</section>
			<section class="col-md-4">
				<header>
					<h2>Tumblr</h2>
				</header>
				<div id="tumblr" class="loading"></div>
				<footer></footer>
			</section>
		</div>
	</div>
</section>
<script type="text/javascript" src="assets/scripts/social.js"></script>
