<section  class="row">
    <div class="col-sm-12">
        <div class="container">
            <section class="col-md-4">
                <header>
                    <h2>Twitter</h2>
                </header>
                <div>
                    {% include social/twitter.html %}
                </div>
                <footer>

                </footer>
            </section>
            <section class="col-md-4">
                <header>
                    <h2>Tumblr</h2>
                </header>
                <div>
                    {% include social/tumblr.html %}
                </div>
                <footer>

                </footer>
            </section>
            <section class="col-md-4">
                <header>
                    <h2>Instagram</h2>
                </header>
                <div>
                    {% include social/instagram.html %}
                </div>
                <footer>

                </footer>
            </section>
        </div>
    </div>
</section>