.about-container {
	.container-img {
		text-align: center;
	}
	color: $lgrey;
}
.resume-quote {
	margin-top: 25%;
}
.resume-quote-line {
	height: 1px;
	width: 100%;
	background-color: $lblue;
	margin-top: 60px;

	&.left{
		float: left;
	}
	&.right {
		float: right;
	}
}
.resume-quote-copy {
    color: $lblue;
    text-align: center;
    .lead{
        line-height: 1.6;
    }
}


