.footer {
    padding-top: 20px;
    padding-bottom: 10px;
    height: 58px;
    width: 100%;
    background: $dgrey;
    color: $w;
    position: absolute;
    bottom: 0;

	h2 {
        text-align: center;
    }

	ul {
        list-style: none;
        float: right;

		li {
            display: inline-block;

			a {
                display: inline-block;
            }
        }
    }
}
