#header{
    //height:500px;

}
.headerPage{
    background: url("../img/017v2.png");
    background-size:cover;
    background-position: center;
    .headerText{
        text-align: center;
        color:$dgrey;
         h1{
            color:$lblue;
            font:{
                size:130px;
                family:$heading;
            }
            text-transform: none;
        }
        h2{
            font-size:50px;
            margin-top:-50px;
            color:$w;
        }

    }
}