.skills{
    background: url("../img/OSASuBX1SGu4kb3ozvne_IMG_1088.jpg");
    background-size:cover;
    background-position: center;
    color:$w;
    //font-size:20px;
    p{
        font:{
           // family:$open;
            size:14px;
            weight:200;
        }
    }
    .mainSkills{
        h2{
            margin-bottom:0;
            text-align: left;
            font:{
                family:$heading !important;
                size:35px !important;
            }
            color:$lblue;
            text:{
                shadow:$dgrey 1px 1px 0;
            }
        }
    }



}