.social-container {
	background: $dgrey;
	color: $w;

	h2{
	 	color: $lblue;
	}

	a {
		font-size: 20px;
		display: block;
		background: $lblue;
		color: $dgrey;
		text-align: center;
		padding: 15px;
		padding-bottom: 17px;
		margin: 0;
		margin-bottom: 10px;
		margin-left: -15px;
		margin-right: -15px;
		font-family: $heading;
		@include transition(1s);
		&:hover {
			text-decoration: none;
			background: $dgrey;
			color: $lblue;
		}

		&.title {
			display: block;
			background: $lblue;
			color: $dgrey;
			font-size: 20px;
			font-family: $heading;
			text-align: center;
			padding: 15px;
			padding-bottom: 17px;
			margin: 0;
			margin-bottom: 10px;
			@include transition(1s);
			&:hover{
				text-decoration: none;
				background: $dgrey;
				color: $lblue;
			}
		}

		&.button {
			padding: 10px;
			display: block;
			background: $lblue;
			color: $w;
			@include border-radius(5px);
			@include transition(1s);
			width: 50%;
			float: right;
			text-align: center;
			font-family: $subheading;
			font-size: 16px;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
				background: $w;
				color: $lblue;
			}
		}
	}

    .main img {
        @include border-radius(10px);
    }

    header {
		text-align: center;
        padding-bottom: 10px;
    }
    article {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: $open;
        font-weight: 100;
    }

	footer {
        margin-top: 20px;
        text-align: center;
    }

	.footer a {
		color: $dgrey;
		background: none;
		font-size: 12px;
		font-family: $open;
	}
}
