.social-container {
	background: $dgrey;
	color: $w;

	h2{
	 	color: $lblue;
	}

	a {
		@include transition(1s);
		text-align: center;

		&:hover {
			text-decoration: none;
		}

		&.title {
			background: $lblue;
			color: $dgrey;
			display: block;
			font-size: 20px;
			font-family: $heading;
			margin: 0 0 10px 0;
			text-align: center;
			padding: 15px;

			&:hover{
				background: $dgrey;
				color: $lblue;
			}
		}

		&.button {
			background: $lblue;
			color: $w;
			display: block;
			font-family: $subheading;
			font-size: 16px;
			padding: 10px;
			text-transform: uppercase;
			@include border-radius(5px);

			&:hover {
				background: $w;
				color: $lblue;
			}
		}
	}

	.social-single-container {
		article{
			min-height: 190px;
			margin: 0 10px;
			font-size: 14px;
		}
	}

	#instagram {
		.col-lg-3,
		.col-lg-9{
			margin-left: 0;
			margin-right: 0;
		}
	}


	.footer a {
		color: $lblue;
		background: none;
		font-size: 12px;
		font-family: $open;
		&:hover {
			text-decoration: underline;
		}
	}
}
