


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin transition($t){
    transition: all $t ease;
    -webkit-transition: all $t ease;
    -o-transition: all $t ease;

}

@mixin boxshadow($r){
    -webkit-box-shadow: $r;
    box-shadow: $r;
    -o-box-shadow: $r;
    -moz-box-shadow: $r;
}

@mixin border-radius($t){
    border-radius: $t;
    -webkit-border-radius: $t;
    -moz-border-radius: $t;
    -o-border-radius: $t;
}