<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head/head.html %}
		{% include head/style.html %}
		{% include head/scripts.html %}
		<!-- get variables -->

	</head>

	<body>

		<div id="fullpage">
			<div class="section headerPage">
				{% include sections/header.html %}
			</div>
			<div class="section">
				{% include sections/portfolio.html %}
			</div>
			<div  class="section skills">
				{% include sections/skills.html %}
			</div>
			<div  class="section about">
				{% include sections/about.html %}
			</div>
			<div  class="section c">
				{% include sections/contact.html %}
			</div>
			<div class="section social">
				{% include sections/social.html %}
				{% include sections/footer.html %}
			</div>
		</div>

		<div id="error" class="alert fade alert-danger alert-dismissible hide" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
 	 		<i class="fa fa-exclamation-circle"></i>
  			<span class="sr-only">Error:</span>
  				Enter a valid email address
		</div>

		<div id="sent" class="alert fade alert-success alert-dismissible hide" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
 	 		<i class="fa fa-check" aria-hidden="true"></i>
  			<span class="sr-only">Sent:</span>
  				Message Sent!
		</div>

		<script type="text/javascript">
		    var hash = window.location.hash;
		    var er = $("#error");
		    var st = $("#sent");

		    if(hash == "#sent"){
		        st.removeClass("hide").addClass("show");
		        //console.log("sent");
		    }
		    else if(hash == "#error"){
		        er.removeClass("hide").addClass("show");
		        //console.log("error");
		    }


		</script>


		<script type="text/javascript" src="assets/scripts/mainscript.js"></script>

	</body>
</html>
