<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head/head.html %}
		{% include head/style.html %}
		{% include head/scripts.html %}
		<!-- get variables -->

	</head>

	<body>
{% include sections/error.html %}
		<div id="fullpage">
			<div class="section headerPage">

				{% include sections/header.html %}

			</div>
			<div class="section">
				{% include sections/portfolio.html %}
			</div>
			<div  class="section skills">
				{% include sections/skills.html %}
			</div>
			<div  class="section about">
				{% include sections/about.html %}
			</div>
			<div  class="section c">
				{% include sections/contact.html %}
			</div>
			<div class="section social">
				{% include sections/social.html %}
				{% include sections/footer.html %}
			</div>
		</div>
{% include footer/scripts.html %}


	</body>
</html>
