<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head/head.html %}
		{% include head/style.html %}
		{% include head/scripts.html %}
		<!-- get variables -->
	</head>
	<body>
		{% include sections/error.html %}
		<div id="fullpage">
			<div class="section header-container">
				{% include sections/header.html %}
			</div>
			<div class="section dealer-container">
				{% include sections/dealer.html %}
			</div>
			<div class="section portfolio-container">
				{% include sections/portfolio.html %}
			</div>
			<div  class="section skills-container">
				{% include sections/skills.html %}
			</div>
			<div  class="section about-container">
				{% include sections/about.html %}
			</div>
			<div  class="section contact-container">
				{% include sections/contact.html %}
			</div>
			<div class="section social-container">
				{% include sections/social.html %}
				{% include sections/footer.html %}
			</div>
		</div>
		{% include footer/scripts.html %}
	</body>
</html>
